#partner-config form div.submit-buttons { 
    display: 'flex';
    justify-content: 'flex-end';
}

.multi-field-container > div:first-child {
    padding-left: 0;
}

.multi-field-container > div:last-child {
    padding-right: 0;
}