.login-wrapper {
    width: 100vw;
    height: 100vh;
    margin-top: -84px;
    background: #009688; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, #009688, #fff); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right,#009688, #fff); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right,#009688, #fff); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right,#009688, #fff); /* Standard syntax */
}